<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('navbar') %>

    <div class="columns" style="min-height: 100vh; margin: 0;">
        <!-- Main Content -->
        <div class="column p-5" style="flex-grow: 1;">
            <section class="hero is-light">
                <div class="hero-body">
                    <p class="title">Student Management</p>
                    <p class="subtitle">Manage student records, view details, and update information.</p>
                </div>
            </section>

            <!-- Logo Image -->
            <%- include('logo') %>

            <!-- List of student profiles -->
            <div class="columns mx-3 is-vcentered">
                <div class="column title">All Students</div>
                <div class="column subtitle">Filter By:</div>
            </div>
            <% studentData.forEach((student) => { %>
            <div class="columns mt-5 mx-3">
                <div class="column">
                    <div class="box columns">
                        <div class="column has-text-weight-bold"><%= student.first_name + " " + student.last_name %></div>
                        <div class="column has-text-weight-bold"><%= student.student_id_number %></div>
                        <div class="column has-text-weight-bold"><%= student.pathway_name %></div>
                        <div class="column has-text-weight-bold">Stage: <%= student.stage %></div>
                        <div class="column button is-info has-text-black">View Record</div>
                    </div>
                </div>
            </div>
            <%  }) %>

        </div>
    </div>
</body>

</html>

