<%- include('documentHead') %>

<body>
    <!-- Navbar -->
    <%- include('navbar') %>

        <div class="columns" style="min-height: 100vh; margin: 0;">

            <div class="column p-5" style="flex-grow: 1;">
            <%- include('adminPageHeader') %>

                <!-- Logo Image -->
                <%- include('logo') %>

                    <!--List topper, i.e. title, filters, add/delete record buttons-->
                    <div class="columns mx-3 is-vcentered mt-3">
                        <div class="column is-one-fifth title">All <%= topic %>s</div>

                        <div class="column is-three-fifths">
                            <div class="columns is-vcentered">
                                <div class="column"></div>

                                <div class="column">
                                    
                                </div>
                                
                                <div>
                                    
                                </div>

                                <div class="column">
                                    
                                </div>
                            </div>

                        </div>
                        <div class="column is-one-fifth is-flex is-justify-content-space-between">
                            <a class="button is-success mx-2" href="/admin/<%= topic === 'Student' ? 'add-student' : 'add-module'%>">Add Record</a>
                        </div>
                    </div>

                    <!-- Template list of records i.e. student / module-->
                    <% templateData.forEach((item)=> { %>
                        <div class="columns mt-5 mx-3">
                            <div class="column">
                                <div class="box columns">
                                    <div class="column has-text-weight-bold">
                                        <%= item.name %>
                                    </div>
                                    <div class="column has-text-weight-bold">
                                        <%= item.id_code %>
                                    </div>
                                    <div class="column has-text-weight-bold">
                                        <%= topic === "Student" ? item.moreInfo : item.moreInfo.replace('AY', '').replace('_', '/') %>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <a class="button is-info has-text-black is-fullwidth mb-2" href="/admin/<%=topic.toLowerCase()%>s/view/<%= item.idReference %>">
                                            View Record
                                        </a>
                                        <form action="/admin/<%= topic === 'Student' ? 'student' : 'module'%>/delete" method="post" class="has-text-centered">
                                            <input type="hidden" name="id" value="<%= item.idReference %>">
                                            <button class="button is-danger is-fullwidth" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
            </div>

        </div>
        </div>
</body>

</html>