<%- include('emmetAbbrev') %>

<body>
    <!-- Navbar -->
    <%- include('navbar') %>

        <div class="columns" style="min-height: 100vh; margin: 0;">

            <div class="column p-5" style="flex-grow: 1;">
            <%- include('adminPageHeader') %>

                <!-- Logo Image -->
                <%- include('logo') %>

                    <!--List topper, i.e. title, filters, add/delete record buttons-->
                    <div class="columns mx-3 is-vcentered mt-3">
                        <div class="column is-one-fifth title">All <%= topic %>s</div>
                        <div class="column is-three-fifths columns">
                            <div class="column has-text-weight-bold">Filter by:</div>
                            <div class="column">Pathway</div>
                            <div class="column">Stage</div>
                            <div class="column">
                                <%= specificFilter %>
                            </div>
                        </div>
                        <div class="column is-one-fifth is-flex is-justify-content-space-between">
                            <a class="button is-success mx-2" href="/add-student">Add Record</a>
                            <div class="button is-danger" href="">Delete Record</div>
                        </div>
                    </div>

                    <!-- Template list of records i.e. student / module-->
                    <% templateData.forEach((item)=> { %>
                        <div class="columns mt-5 mx-3">
                            <div class="column">
                                <div class="box columns">
                                    <div class="column has-text-weight-bold">
                                        <%= item.name %>
                                    </div>
                                    <div class="column has-text-weight-bold">
                                        <%= item.id_code %>
                                    </div>
                                    <div class="column has-text-weight-bold">
                                        <%= item.moreInfo %>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <a class="button is-info has-text-black is-fullwidth" href="/<%=topic.toLowerCase()%>s/view/<%= item.idReference %>">
                                            View <%=topic %> Record
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
            </div>

        </div>
        </div>
</body>

</html>