<section class="hero is-light">
    <div class="hero-body is-flex is-justify-content-space-between is-align-items-center">
        <p class="title"><%= record.name %></p>
        <p class="subtitle"><%= record.id_number %></p>
    </div>
</section>

<section>
    <p class="title is-4 has-text-centered mt-5">
        <%= pathway.pathway_name %> 
        <% if(topic === "student") { %>
            (Stage <%= record.stage %>)
        <% } else if(topic === "module") { %>
            (<%= record.semester %> <%= record.academic_year.replace('AY', '').replace('_', '/') %>)
        <% } %>
    </p>
    
</section>