<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Font Awesome stylesheet for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/customDesign.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <%- include('navbar') %>

        <div class="column p-5" style="flex-grow: 1;">

            <%-include('recordPageHeader')%>

                <div class="column p-5" style="flex-grow: 1;">

                    <div class="mt-3 mx-3">
                        <p class="title is-2">Student Stats</p>
                    </div>
                    <section>
                        <div class="columns">
                            <div class="column mt-5">
                                <section class="mt-5"></section>
                                <% let counter=1; credits.forEach((attainedCredits)=> { %>
                                    <div class="box has-background-light has-text-centered">
                                        <p class="title is-4 has-text-centered">
                                            Stage <%= counter %>: <%= attainedCredits %> / 120 credits
                                        </p>
                                    </div>
                                    <% counter++ }); %>
                            </div>
                            <div class="column is-three-fifths mt-5">
                                <div>
                                    <canvas id="performanceTrend"></canvas>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="columns mt-3">
                            <% years.forEach((year) => { 
                                const formattedYear = year.academic_year.replace("AY", "").replace("_", "/"); %>           
                                <div class="column">

                                    <div class="box has-background-light has-text-centered">
                                        <strong>Average Grade (<%= formattedYear %>): </strong> <%= year.average_grade %>%
                                    </div>
                                    <div class="box has-background-light has-text-centered">
                                       <strong>Decision:</strong> <%= year.progressionDecision %>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </section>

                </div>

                <script>
                    const ctx = document.getElementById('performanceTrend').getContext('2d');

                    const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [ <% years.forEach((year, index) => {
                                const formattedYear = year.academic_year.replace("AY", "").replace("_", "/"); %>
                                    "Autumn <%= formattedYear %>",
                                    "Spring <%= formattedYear %>" <%= index < years.length - 1 ? ',' : '' %>
                        <% }); %>
                        ],
                    datasets: [{
                        label: "Average Mark per Semester",
                        data: [
                                <% years.forEach((year, index) => { %>
                                    <%= autAverage[index] %>,
                                    <%= sprAverage[index] %><%= index < years.length - 1 ? ',' : '' %>
                                <% }) %>
                            ],
                        borderColor: 'rgba(250, 0, 0, 1)',
                        borderWidth: 1
                    }]
                    },
                    options: {
                        responsive: true,
                        scales:{
                            y:{
                                beginAtZero: true,
                                max: 100,
                                ticks: {
                                    stepSize: 10
                                }
                            }
                        }
                    }
                });

                </script>
        </div>
</body>

</html>